@charset "ISO-8859-1";

#titulo{
	
	font-family: 'Fredericka the Great', cursive;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-80%, 100%);
	color:Red;
}

#portada,#contenedor_portada{
	
position: relative;		
display: inline-block;
text-align: center;	
}